<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
 <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="/styles/footer.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
  
  <div class="login-container">
    <form id="login" name="login" method="post" action="/login">
       <label for="email">Email Address</label>
        <input name="email" type="text" id="email" />
       <label for="password">Password</label>
        <input type="text" placeholder="Password" name="psw">
      <button type="submit">Login</button>
    </form>
  </div>
</div>
<div style="padding-left:16px">
  
</div
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        
          <img src="https://s14415.pcdn.co/wp-content/uploads/2017/07/dog-and-cat-header.png"width="1268" height="372">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
<div class="container">
 <div class="row">
    {{#each profiles}}
   {{!-- <div class="col-4">
     <div class="card mt-4">
       <div class="card-body">
         <h5 class="card-title">{{dataValues.Pet_name}}</h5>
         <h5 class="card-title">{{dataValues.Gender}}</h5>
       </div>
     </div>
   </div> --}}
   <div class="card" style="width: 18rem;">
 <img src={{dataValues.Image}} class="card-img-top" alt="...">
 <div class="card-body">
   <h1 class="card-title">{{dataValues.Pet_name}}</h1>
   <p class="card-title">{{dataValues.Gender}}</p>
   <p class="card-title">{{dataValues.Age}}</p>
   <p class="card-title">{{dataValues.Breed}}</p>
   <p class="card-title">{{dataValues.Type1}}</p>
   <p class="card-title">{{dataValues.Bio}}</p>
   <p class="card-text">{{dataValues.Temp}}</p>
   <p class="card-title">{{dataValues.Act}}</p>
   
 </div>
</div>
   {{/each}}
 </div>
</div>
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
 <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
 
 {{{body}}}
       <footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l2 s12">
               <h5 class="white-text"></h5>
               <p class="grey-text text-lighten-4"></p>
             </div>
             <div class="col l2 offset-l2 s12">
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2019 Copy No Cats
           </div>
         </div>
       </footer>
       <body>
</html>

<script type="text/javascript" 